{% extends 'base.html' %}

{% block body %}

<div class="jumbotron">
    <h4 class="display-4">Who I'm</h4>
    <p class="lead"> Diego Rosa, 26 - BEng. Control Systems.</p>
    <hr class="my-4">

    <h4 class="display-4">Motivation</h4>
    <br><p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p><br>
    <hr class="my-4">
    
    <h4 class="display-4">Social Media:</h4>



    <div class="container-fluid">
        <!-- Row 1-->
        <div class="row" id="socialMidiaCards">
    
            <div class="col-md-4">
                    <a href="https://www.linkedin.com/in/diego-rosa-93a49810a/"><img id="socialMidiaIcons" src="https://icons-for-free.com/iconfiles/png/512/linked+linkedin+logo+social+icon-1320191784782940875.png" class="card-img-top" alt="..."></a>
                    <h5 class="card-title">LinkedIn</h5>
            </div>
    
            <div class="col-md-4">
                    <a href="https://medium.com/@rsprzdieego"><img id="socialMidiaIcons" src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Medium_svg5-512.png" class="card-img-top" alt="..."></a>
                    <h5 class="card-title">Medium</h5>
            </div>
    
            <div class="col-md-4">
                    <a href="https://github.com/rpdieego"><img id="socialMidiaIcons" src="https://i.pinimg.com/originals/b1/5e/ed/b15eedbdafbbdbca3249e3942f4faf3b.png" class="card-img-top" alt="..."></a>
                    <h5 class="card-title">Github</h5>
            </div>
    
        </div>
         <!-- Row 2-->
         <div class="row">
    
        </div>
    
    
    </div>






</div>



{% endblock %}